%footer.academy
  .container
    .row
      .logo
        %a{ href: "http://academy.happyfuncorp.com/" }
          = image_tag "academy-logo.png", class: "img-responsive"
      .body
        %h1 Come join us in person!

        %p HFC Technology Academy is dedicated to teaching people the skills they need to succeed in the world of technology and startups.

        %p The Academy is for anyone with the passion to learn about entrepreneurship, development, product management and other skills within the start-up community.

        %h2= link_to "Read about our free events", "http://academy.happyfuncorp.com/"

%footer{ class: "footer #{@lighter} #{@dark_header}" }
  .container
    .row
      .social
        - (data['site']['social'] || {}).each do |type,url|
          %span
            %a{ href: url, class: "webicon #{type}" }
      .made_in_bk
        %h3 Made in Brooklyn, NY
