%footer.codex
  .container
    .row
      .logo
        %a{ href: "http://codex.happyfuncorp.com/" }
          = image_tag "ted.png"
          = image_tag "codex_logo.png"

    .row
      .body
        %h3
          If you find this blog helpful, check out
          %a{ href: "http://codex.happyfuncorp.com/" }
            codex

        %p Product, development, design and a whole slew of other things you need to know. 

        %p
          From the fancy folks at
          = link_to "HappyFunCorp", "http://happyfuncorp.com"

%footer{ class: "footer #{@lighter} #{@dark_header}" }
  .container
    .row
      .social
        - (data['site']['social'] || {}).each do |type,url|
          %span
            %a{ href: url, class: "webicon #{type}" }
      .made_in_bk
        %h3 Made in Brooklyn, NY
