= navbar do
  = navbar_header brand: data['site']['title'], brand_link: '/'
  = navbar_collapse do
    = navbar_group align: 'right', class: 'foo', id: 'menu' do
      = navbar_item "Articles", '/articles.html'
      = navbar_dropdown "Tags" do
        - blog.tags.keys.sort.each do |t|
          = navbar_item t, "/tags/#{t.gsub( / /, "+" )}.html"
      = navbar_dropdown "Archives" do
        - blog.articles.group_by {|a| a.date.strftime('%b %Y') }.each do |date, list|
          = navbar_item date, list.first.date.strftime( "/%Y/%m.html" )
