= navbar fixed: :top do
  .visible-xs-block
    = navbar_header brand: data['site']['title'], brand_link: '/'
  .hidden-xs
    = navbar_header brand: "Technology for the blank page", brand_link: '/'
  = navbar_collapse do
    = navbar_group align: 'right', class: 'foo', id: 'menu' do
      = navbar_item "Articles", url_for('/articles.html')
      = navbar_dropdown "Topics" do
        - data['topics'].each do |topic,d|
          = navbar_item d['title'], url_for( "/tags/#{topic}.html" )
      = navbar_dropdown "Tags" do
        - blog.tags.keys.sort.each do |t|
          - dest = url_for( "/tags/#{t.gsub( / /, "+" )}.html" )
          - if blog.tags[t].size == 1
            - dest = url_for( blog.tags[t].first ) 
          = navbar_item "#{t} (#{blog.tags[t].size})", dest
      = navbar_dropdown "Archives" do
        - blog.articles.group_by {|a| a.date.strftime('%b %Y') }.each do |date, list|
          - dest = url_for( list.first.date.strftime( "/%Y/%m.html" ))
          - if list.size == 1
            - dest = url_for( list.first )
          = navbar_item "#{date} (#{list.size})", dest
