= navbar do
  = navbar_header brand: data['site']['title'], brand_link: '/'
  = navbar_collapse do
    = navbar_group align: 'right', class: 'foo', id: 'menu' do
      = navbar_item "Articles", url_for('/articles.html')
      = navbar_dropdown "Topics" do
        - data['topics'].each do |topic,d|
          = navbar_item d['title'], url_for( "/tags/#{topic}.html" )
      = navbar_dropdown "Tags" do
        - blog.tags.keys.sort.each do |t|
          = navbar_item t, url_for( "/tags/#{t.gsub( / /, "+" )}.html" )
      = navbar_dropdown "Archives" do
        - blog.articles.group_by {|a| a.date.strftime('%b %Y') }.each do |date, list|
          = navbar_item date, url_for( list.first.date.strftime( "/%Y/%m.html" ))
