%footer{ class: "footer #{@lighter}" }
  = partial "header_links"

  %p
    You can also find me on
    - config.social.each do |type, url|
      %a{ href: url }
        = "#{type.to_s.capitalize}, "
    or on 
    %a{ href: "mailto: will@happyfuncorp.com" } Email.

  %p.social
    - (config.social || {}).each do |type,url|
      %a{ href: url }
        %span{ class: "socicon socicon-#{type.to_s} bgcolor" }
