- if File.exists? "source/images/main_background.jpg"
  - @lighter = "lighter"
  .banner
    = image_tag "main_background.jpg", class: "fadeInDown animated"

%div{ class: "main-header #{@lighter}" }
  .avatar
    %a{ href: "/about" }
      = image_tag "avatar.jpg", class: "img-responsive"
  %h1= link_to "Will Schenk", "/"
  %h2 Lets build things

  = partial "header_links"
