- last_date = nil
- no_date = !!no_date
%ul
  - page_articles.each do |current_post|
    - if !no_date && current_post.date
      - date_string = current_post.date.strftime('%b %Y')
      - if last_date != date_string
        %li.date
          %h2= date_string
      - last_date = date_string
    %li
      .more
        - unless current_post.is_a? ::Middleman::Blog::Drafts::DraftArticle
          = current_post.date.strftime( '%b %e' )
        - else
          Draft
      %div= link_to current_post.title, current_post
      %div
        = current_post.data['subtitle']

        .tags
          - current_post.tags.sort.each do |tag|
            .tag= link_to tag, tag_path( tag )
