---
pageable: true
---
%section.recent-posts.header
  .container
    .row
      .post-list
        %h1 Date Archives
.container
  .row
    .col-xs-12
      - if paginate && num_pages > 1
        %p
          Page 
          = page_number
          of
          = num_pages

        - if prev_page
          %p= link_to 'Previous page', prev_page

%section.recent-posts
  .container
    .row
      .post-list
        = partial "post_list", :locals => {:page_articles => page_articles}


      - if paginate
        - if next_page
          %p= link_to 'Next page', next_page