---
title: Will Schenk
---
%section.main-header
  .container
    .row
      .avatar
        %a{ href: "/" }
          = image_tag "avatar.jpg", class: "img-responsive"
        .social
          - (data['site']['social'] || {}).each do |type,url|
            %span
              %a{ href: url, class: "webicon #{type}" }

      .bio
        %h1 Will Schenk

        %p
          I cofounded
          = link_to "HappyFunCorp", "http://happyfuncorp.com"
          6 years ago, since then we've built over 130 different products.

        %p
          This site is about Technology for the Blank Page, for the very beginning.

        %p
          We take our job seriously.

%section.recent-posts
  .container
    .row
      .article.current-post
        - post = blog.articles.first
        %h1 Current post
        %h2= link_to post.title, post
        %h3= post.data['subtitle']

        = post.body.gsub( /<\/p>.*/m, "</p>")

        = link_to "Read more", post, class: "btn btn-primary"

%section.recent-posts.about
  .container
    .row
      .article
        %h1 In the beginning...

        %p Build something interesting.  Build something fun.  Build something people want.

        %p Building new products is fun.  It's a process of exploration, to see what you can make a computer do that is interesting to people.  It's not just the technology itself, but getting things in front of people quickly.

        %p This really isn't a software engineering exercise per se, though of course you need to understand how things work.  It a rapid feature development exercise.  How it works under the hood should be cobbled together out of existing components, slammed together with bubble gum and scotch tape, exploding at the edge cases, and in front of people in days, rather than an exegantly crafted cathedral that will be done any week now.

        %p Lets talk about how, when trying to explore an idea from the start, you can do this quickly.  We'll be talking in general about how to orient yourself to the different technologies, to learn which tools are good for which jobs.  We'll be going in depth in a few things to learn how to effectively use the tools.

        %p And we'll be playing around with some random stuff for no other reason than I think it's cool.

%section.tracks
  .container
    %h1 Topics
    .row
      - data['topics'].each do |k,d|
        .track
          %h2= link_to d[:title], "/tags/#{k}.html"

          %p= d[:desc]

          %p
            Latest:
            - latest = blog.tags[k.to_s].first
            = link_to latest.title, latest

%section.recent-posts
  .container
    .row
      .post-list
        %h1.recent
          Recent posts
          = link_to "all posts", "/articles.html", class: "more"

        = partial "post_list", :locals => {:page_articles => blog.articles[0..4], :no_date => true }

        %h2.allposts= link_to "all posts &raquo;".html_safe, "/articles.html"
