!!! 5
%html.no-js
  %head
    %meta{ :charset => 'utf-8' }/
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

    - if current_article
      %title= current_article.title
    - else
      %title Will Schenk

    %meta{ :name => 'description', :content => '' }/
    %meta{ :name => 'viewport', :content => 'width=device-width' }/
    = stylesheet_link_tag 'application', 'socicons', "animate"
    %link{ rel: "stylesheet", href: "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css" }
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"

  %body
    - if current_article
      = partial "article_header"
    - else
      = partial "main_header"
      
    .container-fluid.content
      .row
        .article
          ~ yield
      - if current_article
        = partial "article_footer"

    = partial "footer"
    = partial "javascripts"

