---
pageable: true
per_page: 12
---

.timeline
  .post
    .post-date
    .post-title
      %h2= "Articles tagged #{tagname}"
  - page_articles.each do |article|
    .post
      .post-date
        %p= article.date.strftime( '%b %e' )
      .post-title
        %p= link_to article.title, article
        - if article.data['subtitle']
          %p.subtitle= article.data['subtitle']
        - article.tags.each do |tag|
          .tag= link_to tag, tag_path( tag )
